name: Release Package

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version (eg: x.x.x)"
        type: string
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      - uses: aboutbits/github-actions-base/git-setup@v2
      - uses: aboutbits/github-actions-java/setup-with-maven@v4
        with:
          java-version: 21
      - uses: aboutbits/github-actions-java/set-version-with-maven@v4
        with:
          version: "${{ github.event.inputs.version }}"
      - name: Publish package
        env:
          GITHUB_USER_NAME: ${{ github.actor }}
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -s $GITHUB_WORKSPACE/.github/workflows/maven-settings.xml --batch-mode deploy
        shell: bash
      - uses: aboutbits/github-actions-base/git-commit-and-push-all@v2
        with:
          message: '${{ github.event.inputs.version }}'
      - uses: aboutbits/github-actions-base/git-create-or-update-tag@v2
        with:
          tag-name: 'v${{ github.event.inputs.version }}'
      - uses: aboutbits/github-actions-base/github-create-release@v2
        with:
          tag-name: '${{ github.event.inputs.version }}'
